{% extends 'farm/base.html' %}
{% block content %}
{% load static %}  
{% if 'sheds.add_shed' in user.get_all_permissions %}

<form method="post" enctype="multipart/form-data">
  
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  <div class="form-group">
    <label for="farm" class="txt_negrita">Granja</label>
    {{ form.farm }} 
  </div>
  <div class="form-group">
    <label for="type" class="txt_negrita">Tipo</label>
    {{ form.type }} 
  </div>
  <div class="form-group">
    <label for="name" class="txt_negrita">Nombre</label>
    {{ form.name }} 
  </div>
  <div class="form-group">
    <label for="is_active" class="txt_negrita">Estado</label>
    {{ form.is_active }} 
  </div>
  <button type="submit" class="btn btn-primary"><span class="fa fa-check mr-2"></span>Aceptar</button>
  <a href="./"  class="btn btn-danger"><span class="fa fa-times mr-2"></span>Cancelar</a>
 
</form>

{% endif %}
{% endblock %}   
