{% extends 'farm/base.html' %}
{% block content %}
{% if list_shed %}
<div class="container">
    <a href="" class="btn btn-success mb-3">Agregar Nuevo Galpon</a>
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombres</th>
            <th scope="col">Tipo</th>
            <th scope="col">Granja</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de Creacion</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for shed in list_shed %}
            <tr>
                <th scope="row">{{ shed.id }}</th>
                <td>{{ shed.name }}</td>
                <td>{{ shed.type }}</td>
                <td>{{ shed.farm }}</td>
                <td>{{ shed.is_active }}</td>
                <td>{{ shed.created }}</td>
                <td>
                    <a href="" class="btn btn-success">Editar</a>
                    <a href="" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor  %}
        </tbody>
      </table>
</div>
{% else %}
<h6>no hay anda</h6>
{% endif %}
{% endblock %}