{% extends "registration/base_generic.html" %}
{% block content %} 
  {% csrf_token %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/static/csslogin/images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						The password has been changed!
					</span>

					<div class="container-login100-form-btn">
                        <a class="login100-form-btn" href="{% url 'login' %}">log in again?</a>
					</div>
				</form>
			</div>
		</div>
	</div>


    <div id="dropDownSelect1"></div>
{% endblock %}   