    {% extends "registration/base_generic.html" %}
    {% block content %}
    {% if validlink %}
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
        <div class="limiter">
            <div class="container-login100" style="background-image: url('/static/csslogin/images/bg-01.jpg');">
                <div class="wrap-login100">
                    <form class="login100-form validate-form">
                        <p class="text-white mb-5"> 
                            Please enter (and confirm) your new password.
                        </p>

                        <div class="wrap-input100 validate-input" data-validate = "Ingresa tu nueva Contraseña">
                            <input class="input100" type="password" name="new_password1" placeholder="New password">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>
                        <span class="badge badge-light mb-4">{{ form.new_password1.errors }}</span>
                        <div class="wrap-input100 validate-input" data-validate="Confirma la nueva contraseña">
                            <input class="input100" type="password" name="new_password2" placeholder="Confirm password">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
                        <span class="badge badge-light mb-4">{{ form.new_password2.errors }}</span>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit" value="Change my password">
                                Cambiar Contraseña	
                            </button>
                            <input type="hidden" name="next" value="{{ next }}" />
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    
        <div id="dropDownSelect1"></div>
    </form>
    {% else %}
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/static/csslogin/images/bg-01.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <h3 class="text-white text-center mb-4">Password reset failed</h3>
                    <p class="text-white text-center">
                        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.                    
                    </p>
                </form>
            </div>
        </div>
    </div>
    {% endif %} 
    {% endblock %}
    
    
    
    
    
    
    