{% extends 'farm/base.html' %}
{% block content %}
{% load static %}  

<h4>Detalles</h4>
 
<p><span class="txt_negrita">Galpon:</span> <br> {{object.shed}}</p>
<p><span class="txt_negrita">Fecha:</span> <br> {{object.date}}</p>
<p><span class="txt_negrita">Ingreso:</span> <br> {{object.food_income}}</p>
<p><span class="txt_negrita">Saldo:</span> <br> {{object.food_deposit}}</p>
<p><span class="txt_negrita">Consumo:</span> <br> {{object.food_consumption}}</p>
<p><span class="txt_negrita">Saldo Final:</span> <br> {{object.final_deposit}}</p>
<p><span class="txt_negrita">Muertes:</span> <br> {{object.chicken_death}}</p>
<p><span class="txt_negrita">Total Paquetes:</span> <br> {{object.package_total}}</p>
<p><span class="txt_negrita">Total Unidades:</span> <br> {{object.leftover_eggs}}</p>
<p><span class="txt_negrita">Tipo de Comida:</span> <br> {{object.food_type}}</p>
<p><span class="txt_negrita">Precio de Alimento:</span> <br> {{object.food_price}}</p>
<p><span class="txt_negrita">Porcentaje de Postura:</span> <br> {{object.posture_percentaje}}</p>
<p><span class="txt_negrita">Conversion:</span> <br> {{object.convertion}}</p>
<p><span class="txt_negrita">Peso de Gallina:</span> <br> {{object.chicken_weight}}</p>
<p><span class="txt_negrita">Peso de huevo:</span> <br> {{object.egg_weight}}</p>

<a href="../"  class="btn btn-danger"><span class="fa fa-arrow-left mr-2"></span>Volver</a>

{% endblock %}