{% extends 'farm/base.html' %}
{% block content %}
{% load static %}
  <h1>
    <span class="fa fa-home mr-2"></span>Galpones de Postura
  </h1>
  <h4>
    <span class="fa fa-arrow-down mr-2"></span>Granja de Abajo
  </h4>
  <div class="row">
    <div class="col-7">
      <div class="btn_crear mb-3">
        <a href="crear"  class="btn btn-primary"><span class="fa fa-file-text mr-2"></span>Crear Nuevo Registro</a>
      </div>
    </div>
    <div class="col-5 d-flex justify-content-end">
      <form method="GET" class="mb-3" >
        <label style="margin: .4rem 0;" for="start" class="txt_negrita">Fecha</label>
        <input style="margin: .4rem 0;" type="date" id="start" name="date">
        <button type="submit" class="btn btn-primary"><span class="fa fa-filter mr-2"></span>Filtrar</button>        
      </form>
    </div>
  </div>
  
  
<table class="table table-striped table-hover text-center">
  {% if messages %}
    <ul class="messages list-group mb-3">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %} 
  <thead>
    <tr>
      <th>Galpon</th>
      <th style="width: 6%;">Fecha</th>
      <th>Edad</th>
      <th>Ingreso</th>
      <th>Saldo</th>
      <th>Consumo</th>
      <th>S.Final</th>
      <th>T.Dia</th>
      <th>Muertes</th>
      <th>T.Fin.Dia</th>
      <th>TxP</th>
      <th>TxU</th>
      <th>H.B</th>
      <th>H.S</th>
      <th>H.R</th>
      <th>Tip.Comida</th>
      <th>$.Alimento</th>
      <th>%Post</th>
      <th>Conver</th>
      <th>Peso.G</th>
      <th>Peso.H</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'postres' y los listamos -->
  {% for shedregister in filter.qs %}
    <tr>
      <td>{{ shedregister.shed }}</td>
      <td>{{ shedregister.date|date:'d-m-y' }}</td>
      <td>{{ shedregister.age_chicken }}</td>
      <td>{{ shedregister.food_income }}</td>
      <td>{{ shedregister.food_deposit }}</td>
      <td>{{ shedregister.food_consumption }}</td>
      <td>{{ shedregister.final_deposit }}</td>
      <td>{{ shedregister.chicken_initial }}</td>
      <td>{{ shedregister.chicken_death }}</td>
      <td>{{ shedregister.chicken_income }}</td>
      <td>{{ shedregister.package_total }}</td>
      <td>{{ shedregister.egg_white }}</td>
      <td>{{ shedregister.egg_dirty }}</td>
      <td>{{ shedregister.egg_break }}</td>
      <td>{{ shedregister.leftover_eggs }}</td>
      <td>{{ shedregister.food_type }}</td>
      <td>{{ shedregister.food_price }}</td>
      <td>{{ shedregister.posture_percentaje }}</td>
      <td>{{ shedregister.convertion }}</td>
      <td>{{ shedregister.chicken_weight }}</td>
      <td>{{ shedregister.egg_weight }}</td>
      <td>        
        <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
        <form method="POST" action="eliminar/{{shedregister.id}}">
          {% csrf_token %}
          <div class="btn-group">
 
            <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
            <a href="detalle/{{shedregister.id}}" title="Ver"  class="btn btn-success"><span class="fa fa-eye mr-2"></span>Ver </a>
            <a href="editar/{{shedregister.id}}" title="Editar"  class="btn btn-primary"><span class="fa fa-pencil-square mr-2"></span>Editar </a>
            <!--<button class="btn btn-danger" onclick="return eliminar();" type="submit">
              Eliminar
            </button>-->
          </div>
        </form>
 
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
  function eliminar() {
    var x = confirm("Eliminar Producto ?");
    if (x)
      return true;
    else
      return false;
  }
</script>
{% endblock %} 
 