{% extends 'farm/base.html' %}
{% block content %}
{% if list_chicken %}
<div class="container">
    <a href="" class="btn btn-success mb-3">Agregar Nuevo Galpon</a>
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Galpon</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Edad en Semana</th>
            <th scope="col">Fecha de Creacion</th>
            <th scope="col">Tipo</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for chicken in list_chicken %}
            <tr>
                <th scope="row">{{ chicken.id }}</th>
                <td>{{ chicken.name }}</td>
                <td>{{ chicken.shed }}</td>
                <td>{{ chicken.quantity }}</td>
                <td>{{ chicken.week_age }}</td>
                <td>{{ chicken.entry_date }}</td>
                <td>{{ chicken.chicken_type }}</td>

                <td>
                    <a href="" class="btn btn-success">Editar</a>
                    <a href="" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor  %}
        </tbody>
      </table>
</div>
{% else %}
<h6>no hay anda</h6>
{% endif %}
{% endblock %}