{% extends 'farm/base.html' %}
{% block content %}
{% load static %}
{% if 'chickens.add_promotion' in user.get_all_permissions %}

<form method="post" enctype="multipart/form-data">
  
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  <div class="form-group">
    <label for="name" class="txt_negrita">Nombre</label>
    {{ form.name }} 
  </div>
  <div class="form-group">
    <label for="shed" class="txt_negrita">Galpon</label>
    {{ form.shed }} 
  </div>
  <div class="form-group">
    <label for="shed" class="txt_negrita">Edad de Ave  x Semana</label>
    {{ form.week_age }} 
  </div>
  <div class="form-group">
    <label for="shed" class="txt_negrita">Edad de Ave x Dia</label>
    {{ form.age_days }} 
  </div>
  <div class="form-group">
    <label for="shed" class="txt_negrita">Comida</label>
    {{ form.food }} 
  </div>
  <div class="form-group">
    <label for="quantity" class="txt_negrita">Cantidad de Gallinas</label>
    {{ form.quantity }} 
  </div>
  <div class="form-group">
    <label for="chicken_type" class="txt_negrita">Tipo de Gallina</label>
    {{ form.chicken_type }} 
  </div>
  <div class="form-group">
    <label for="is_active" class="txt_negrita">Estado</label>
    {{ form.is_active }} 
  </div>
  <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span>Aceptar</button>
  <a href="./"  class="btn btn-danger"><span class="fa fa-times mr-2"></span>Cancelar</a>
 
</form>
{% endif %}
{% endblock %}   
