{% load static %}  
<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'csscrud/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'report/css/report.css' %}">
	<script src="{% static 'report/xlsx.full.min.js' %}"></script>
    <script src="{% static 'report/FileSaver.min.js' %}"></script>
    <script src="{% static 'report/tableexport.min.js' %}"></script>
</head>
  <body>
	<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" >
			<div class="custom-menu">
				<button id="sidebarCollapse" class="btn btn-primary">
				<i class="fa fa-bars"></i>
				<p class="sr-only">Toggle Menu</p>
				</button>
        	</div>
		<div class="p-4">
				<h1><a href="{% url 'index' %}" class="logo">Avimar <span>Avicola</span></a></h1>
				<ul class="list-unstyled components mb-5">
				<li class="active">
					<a href="{% url 'index' %}"><span class="fa fa-home mr-3"></span> Home</a>
				</li>
				
				<li>
					<a href="{% url 'leer_farm' %}"><span class="fa fa-spinner mr-3"></span> Granjas</a>
				</li>
				<li>
				<a href="{% url 'leer_promotion' %}"><span class="fa fa-american-sign-language-interpreting mr-3"></span> Promocion de Gallinas</a>
				</li>
				<li>
				<a href="{% url 'leer_shed' %}"><span class="fa fa-circle-o-notch mr-3"></span> Galpones</a>
				</li>
				<li>
				<a href="{% url 'leer_shedproductionup' %}"><span class="fa fa-arrow-circle-up mr-3"></span> Produccion Arriba</a>
				</li>
				<li>
				<a href="{% url 'leer_shedproductiondown' %}"><span class="fa fa-arrow-circle-down mr-3"></span> Produccion Abajo</a>
				</li>
				<li>
				<a href="{% url 'leer_shedraisedup' %}"><span class="fa fa-arrow-circle-up mr-3"></span> Levante Arriba </a>
				</li>
				<li>
				<a href="{% url 'leer_shedraiseddown' %}"><span class="fa fa-arrow-circle-down mr-3"></span> Levante Abajo </a>
				</li>
				<li>
					<a href="{% url 'production' %}"><span class="fa fa-newspaper-o mr-3"></span> Reporte Produccion </a>
				</li>
				<li class="mt-4">
				<a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
				</li>
				</ul>

				<!--<div class="footer">
					<p>
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
							</p>
				</div>-->

			</div>
			</nav>

			<!-- Page Content  -->
			<div id="content" class="p-4 p-md-5 pt-5">
				{% block content %}
				{% endblock %}

			</div>
		</div>

    <script src="{% static 'csscrud/js/jquery.min.js' %}"></script>
    <script src="{% static 'csscrud/js/popper.js'%}"></script>
    <script src="{% static 'csscrud/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'csscrud/js/main.js'%}"></script>  
  </body>
</html>