{% extends 'farm/base.html' %}
{% block content %}
{% if list_farms %}
<div class="container">
    <a href="" class="btn btn-success mb-3">Agregar Nueva Granja</a>
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombres</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for farm in list_farms %}
            <tr>
                <th scope="row">{{ farm.id }}</th>
                <td>{{ farm.name }}</td>
                <td>
                    <a href="" class="btn btn-success">Editar</a>
                    <a href="" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor  %}
        </tbody>
      </table>
</div>
{% else %}
<h6>no hay anda</h6>
{% endif %}
{% endblock %}
