{% extends 'farm/base.html' %}
{% block content %}
{% load static %}  
{% if 'sheds.add_shedregister' in user.get_all_permissions %}

<form method="post" enctype="multipart/form-data">
  
  {% csrf_token %}
  <div class="form-group">
    <label for="farm" class="txt_negrita">Galpon</label>
    {{ form.shed }} 
  </div>
  <div class="form-group">
    <label for="type" class="txt_negrita">Fecha</label>
    <input type="date" id="start" name="date">   
  </div>
  <div class="form-group">
    <label for="name" class="txt_negrita">Ingreso</label>
    {{ form.food_income }} 
  </div>
  <div class="form-group">
    <label for="is_active" class="txt_negrita">Saldo</label>
    {{ form.food_deposit }} 
  </div>
  <div class="form-group">
    <label for="is_active" class="txt_negrita">Consumo</label>
    {{ form.food_consumption }} 
  </div>
  <div class="form-group">
    <label for="is_active" class="txt_negrita">Saldo Final</label>
    {{ form.final_deposit }} 
  </div>
  <div class="form-group">
    <label for="is_active" class="txt_negrita">Muertes</label>
    {{ form.chicken_death }} 
  </div>
  <div class="form-group">
    <label for="is_active" class="txt_negrita">Tipo de Comida</label>
    {{ form.food_type }} 
  </div>
  <div class="form-group">
    <label for="is_active" class="txt_negrita">Precio de Alimento</label>
    {{ form.food_price }} 
  </div>
  <div class="form-group">
    <label for="is_active" class="txt_negrita">Peso de Gallina</label>
    {{ form.chicken_weight }} 
  </div>
  <button type="submit" class="btn btn-primary"><span class="fa fa-check mr-2"></span>Aceptar</button>
  <a href="./"  class="btn btn-danger"><span class="fa fa-times mr-2"></span>Cancelar</a>
 
</form>
{% endif %}
{% endblock %}   
